<div id="<%= dom_id comment %>">
  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>Writer:</strong>
    <%= comment.writer %>
  </p>

  <p>
    <strong>Chat:</strong>
    <%= comment.chat_id %>
  </p>

</div>
