<div id="<%= dom_id assign_ticket %>">
 <p>
    <strong>Executive:</strong>
    <%= assign_ticket.user.email %>
  </p>

  <p>
    <strong>Ticket:</strong>
    <%= assign_ticket.ticket.title %>
  </p>


</div>
