<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h1>New assign ticket</h1>

<%= render "form", assign_ticket: @assign_ticket %>

<br>

<div>
  <%= link_to "Back to assign tickets", user_assign_tickets_path(current_user) %>
</div>
</div>
