<div class="card mx-auto w-50 p-3 bg-white text-black text-center">



<%= render @assign_ticket %>

<div>
  <%= link_to "Edit this assign ticket", edit_user_assign_ticket_path(current_user,@assign_ticket), class:"btn btn-sm btn-info mt-2", style:'margin-right: 10px;' %> 
  <%= link_to "See Ticket info", user_assign_ticket_ticket_path(current_user,@assign_ticket, @assign_ticket.ticket), class:"btn btn-sm btn-warning mt-2", style:'margin-right: 10px;'  %>
  <%= link_to "Back to assign tickets", user_assign_tickets_path(current_user), class:"btn btn-sm btn-secondary mt-2", style:'margin-right: 10px;' %>
</div>

</div>