<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Back to users", users_path,class:"btn btn-sm btn-secondary mt-2", style:'margin-right: 10px;' %>
  <%= link_to "Show this user", @user,  class:"btn btn-sm btn-warning mt-2" %> 
  </div>

</div>