<div id="<%= dom_id performance_report %>">
  <p>
    <strong>Report date:</strong>
    <%= performance_report.report_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= performance_report.user_id %>
  </p>

</div>
