<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h1>New performance report</h1>

<%= render "form", performance_report: @performance_report %>

<br>

<div>
  <%current_user= User.find(params[:user_id])%>
  <%if  current_user.Supervisor?  or current_user.Administrator?  %>
  <p>
    <%= link_to "Back to performance reports", user_performance_reports_path %>
    </p>
  <%end%>

</div>
