

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">

<%= render @performance_report %>

<div>
  <%if  current_user.Supervisor?  or current_user.Administrator?  %>
      <%= link_to "Back to performance reports", user_performance_reports_path(current_user), class:"btn btn-sm btn-secondary mt-2", style:'margin-right: 10px;' %>
    </p>
    
  <%end  %>

  <%= button_to "Destroy this performance report", @performance_report, method: :delete, class:"btn btn-danger btn-sm mt-2" %>
</div>


</div>