<div id="<%= dom_id chat %>">
  <p>
    <strong>Ticket title:</strong>
    <%= chat.ticket.title %>
  </p>

  <p>
    <strong>Comments:</strong>
    <% chat.comments.each do |t| %>
    <ul>
      <li><%= t.writer %>: <%= t.text %></li>
    </ul>
    <%end %>
  </p>
</div>
