<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
Ticket report
</div>
<br>

<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<p>
    <%= link_to "Back to the user", user_path(params[:user_id]) %>
</p>
</div>