<div class="card mx-auto w-50 p-3 bg-white text-black text-center">
<h1>New tag list</h1>

<%= render "form", tag_list: @tag_list %>

<br>


<%current_user= User.find(params[:user_id])%>
  <%current_ticket= Ticket.find(params[:ticket_id])%>

  <%if current_user.Executive?  %>
        <% if params[:ticket_list_id].present?%>
          <p>
            <%= link_to "Back to tag lists", user_ticket_list_ticket_tag_lists_path(current_user,params[:ticket_list_id],current_ticket) %>          
            </p>
        <%else  %>
           <p>
            <%= link_to "Back to tag lists", user_assign_ticket_ticket_tag_lists_path(current_user,params[:assign_ticket_id],current_ticket) %>            
          </p>
        <%end  %>
      <%elsif current_user.Supervisor? or current_user.Administrator? %>
        <p>
           <%= link_to "Back to tag lists",  user_ticket_tag_lists_path(current_user,current_ticket) %>            
        </p>

      <%end  %>


</div>