<%if notice  %>
    <div class="alert alert-success card mx-auto w-50 p-3 text-black text-center" role="alert">
        <%= notice %>
    </div>
<%end %>
<%if alert  %>
    <div class="alert alert-danger card mx-auto w-50 p-3 text-black text-center" role="alert">
        <%= alert %>
    </div>
<%end  %>